<app-header></app-header>
<main>
  <div id="dashboard">
    <app-dashboard-item [image]="{src : 'status.png' ,alt:'status'}" [title]="'A signal SYmbol'">
      <app-server-status />
    </app-dashboard-item>

    <app-dashboard-item [image]="{src : 'globe.png' ,alt:'globe'}" title="server status">
      <app-traffic />
    </app-dashboard-item>

    <app-dashboard-item  [image]="{src : 'list.png' ,alt:'list'}" [title]="'support Tickets'">
      <app-tickets />
    </app-dashboard-item>
  </div>
</main>